# Python
__pycache__/
*.pyc
.pytest_cache/
.venv/

# App build artifacts
app/package/
app/*.zip

# Terraform
infra/.terraform/
infra/.terraform.lock.hcl
infra/terraform.tfstate*

# Editor/OS
.DS_Store
.vscode/
